CACHE_STORE=database
REDIS_URL=
PGLITE_DATA_DIR=

SERVER_PORT=3000

SUPABASE_URL=
SUPABASE_ANON_KEY=

MONGODB_CONNECTION_STRING=
MONGODB_DATABASE=

REMOTE_CHARACTER_URLS=

USE_CHARACTER_STORAGE=false

DEFAULT_LOG_LEVEL=warn
LOG_JSON_FORMAT=false

BITMIND=true
BITMIND_API_TOKEN=

DISCORD_APPLICATION_ID=
DISCORD_API_TOKEN=
DISCORD_VOICE_CHANNEL_ID=

DEVIN_API_TOKEN=

GELATO_RELAY_API_KEY=

FARCASTER_FID=
FARCASTER_NEYNAR_API_KEY=
FARCASTER_NEYNAR_SIGNER_UUID=
FARCASTER_DRY_RUN=false
FARCASTER_POLL_INTERVAL=120

TELEGRAM_BOT_TOKEN=

TELEGRAM_ACCOUNT_PHONE=
TELEGRAM_ACCOUNT_APP_ID=
TELEGRAM_ACCOUNT_APP_HASH=
TELEGRAM_ACCOUNT_DEVICE_MODEL=
TELEGRAM_ACCOUNT_SYSTEM_VERSION=

TWITTER_DRY_RUN=false
TWITTER_USERNAME=
TWITTER_PASSWORD=
TWITTER_EMAIL=
TWITTER_2FA_SECRET=
TWITTER_POLL_INTERVAL=120
TWITTER_SEARCH_ENABLE=FALSE
TWITTER_TARGET_USERS=
TWITTER_RETRY_LIMIT=
TWITTER_SPACES_ENABLE=false
POST_INTERVAL_MIN=
POST_INTERVAL_MAX=
POST_IMMEDIATELY=
ACTION_INTERVAL=
ENABLE_ACTION_PROCESSING=false
MAX_ACTIONS_PROCESSING=1
ACTION_TIMELINE_TYPE=foryou
TWITTER_APPROVAL_DISCORD_CHANNEL_ID=
TWITTER_APPROVAL_DISCORD_BOT_TOKEN=
TWITTER_APPROVAL_ENABLED=
TWITTER_APPROVAL_CHECK_INTERVAL=60000

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
WHATSAPP_API_VERSION=v17.0

ALEXA_SKILL_ID=
ALEXA_CLIENT_ID=
ALEXA_CLIENT_SECRET=

SIMSAI_API_KEY=
SIMSAI_AGENT_ID=
SIMSAI_USERNAME=
SIMSAI_DRY_RUN=

EXPRESS_MAX_PAYLOAD=

OPENAI_API_KEY=
OPENAI_API_URL=
SMALL_OPENAI_MODEL=
MEDIUM_OPENAI_MODEL=
LARGE_OPENAI_MODEL=
EMBEDDING_OPENAI_MODEL=
IMAGE_OPENAI_MODEL=
USE_OPENAI_EMBEDDING=

ENABLE_OPEN_AI_COMMUNITY_PLUGIN=false
OPENAI_DEFAULT_MODEL=
OPENAI_MAX_TOKENS=
OPENAI_TEMPERATURE=

ATOMASDK_BEARER_AUTH=
ATOMA_API_URL=
SMALL_ATOMA_MODEL=
MEDIUM_ATOMA_MODEL=
LARGE_ATOMA_MODEL=

ETERNALAI_URL=
ETERNALAI_MODEL=
ETERNALAI_CHAIN_ID=8453
ETERNALAI_RPC_URL=
ETERNALAI_AGENT_CONTRACT_ADDRESS=
ETERNALAI_AGENT_ID=
ETERNALAI_API_KEY=
ETERNALAI_LOG=false

HYPERBOLIC_API_KEY=
HYPERBOLIC_MODEL=

IMAGE_HYPERBOLIC_MODEL=
SMALL_HYPERBOLIC_MODEL=
MEDIUM_HYPERBOLIC_MODEL=
LARGE_HYPERBOLIC_MODEL=

HYPERBOLIC_ENV=production
HYPERBOLIC_API_KEY=
HYPERBOLIC_GRANULAR_LOG=true
HYPERBOLIC_SPASH=true
HYPERBOLIC_LOG_LEVEL=debug

INFERA_API_KEY=
INFERA_MODEL=
INFERA_SERVER_URL=
SMALL_INFERA_MODEL=
MEDIUM_INFERA_MODEL=
LARGE_INFERA_MODEL=

VENICE_API_KEY=
SMALL_VENICE_MODEL=
MEDIUM_VENICE_MODEL=
LARGE_VENICE_MODEL=
IMAGE_VENICE_MODEL=

NINETEEN_AI_API_KEY=
SMALL_NINETEEN_AI_MODEL=
MEDIUM_NINETEEN_AI_MODEL=
LARGE_NINETEEN_AI_MODEL=
IMAGE_NINETEEN_AI_MODE=

AKASH_CHAT_API_KEY=
SMALL_AKASH_CHAT_API_MODEL=
MEDIUM_AKASH_CHAT_API_MODEL=
LARGE_AKASH_CHAT_API_MODEL=

LIVEPEER_GATEWAY_URL=https://dream-gateway.livepeer.cloud
IMAGE_LIVEPEER_MODEL=
SMALL_LIVEPEER_MODEL=
MEDIUM_LIVEPEER_MODEL=
LARGE_LIVEPEER_MODEL=

ELEVENLABS_XI_API_KEY=

TRANSCRIPTION_PROVIDER=

ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVENLABS_VOICE_STABILITY=0.5
ELEVENLABS_VOICE_SIMILARITY_BOOST=0.9
ELEVENLABS_VOICE_STYLE=0.66
ELEVENLABS_VOICE_USE_SPEAKER_BOOST=false
ELEVENLABS_OPTIMIZE_STREAMING_LATENCY=4
ELEVENLABS_OUTPUT_FORMAT=pcm_16000

OPENROUTER_API_KEY=
OPENROUTER_MODEL=
SMALL_OPENROUTER_MODEL=
MEDIUM_OPENROUTER_MODEL=
LARGE_OPENROUTER_MODEL=

REDPILL_API_KEY=
REDPILL_MODEL=
SMALL_REDPILL_MODEL=
MEDIUM_REDPILL_MODEL=
LARGE_REDPILL_MODEL=

GROK_API_KEY=
SMALL_GROK_MODEL=
MEDIUM_GROK_MODEL=
LARGE_GROK_MODEL=
EMBEDDING_GROK_MODEL=

OLLAMA_SERVER_URL=
OLLAMA_MODEL=
USE_OLLAMA_EMBEDDING=
OLLAMA_EMBEDDING_MODEL=
SMALL_OLLAMA_MODEL=
MEDIUM_OLLAMA_MODEL=
LARGE_OLLAMA_MODEL=

GOOGLE_MODEL=
SMALL_GOOGLE_MODEL=
MEDIUM_GOOGLE_MODEL=
LARGE_GOOGLE_MODEL=
EMBEDDING_GOOGLE_MODEL=

MISTRAL_MODEL=
SMALL_MISTRAL_MODEL=
MEDIUM_MISTRAL_MODEL=
LARGE_MISTRAL_MODEL=

GROQ_API_KEY=
SMALL_GROQ_MODEL=
MEDIUM_GROQ_MODEL=
LARGE_GROQ_MODEL=
EMBEDDING_GROQ_MODEL=

LLAMALOCAL_PATH=

SMALL_NANOGPT_MODEL=
MEDIUM_NANOGPT_MODEL=
LARGE_NANOGPT_MODEL=

ANTHROPIC_API_KEY=
SMALL_ANTHROPIC_MODEL=
MEDIUM_ANTHROPIC_MODEL=
LARGE_ANTHROPIC_MODEL=

HEURIST_API_KEY=
SMALL_HEURIST_MODEL=
MEDIUM_HEURIST_MODEL=
LARGE_HEURIST_MODEL=
HEURIST_IMAGE_MODEL=
HEURIST_EMBEDDING_MODEL=
USE_HEURIST_EMBEDDING=

GAIANET_MODEL=
GAIANET_SERVER_URL=
SMALL_GAIANET_MODEL=
SMALL_GAIANET_SERVER_URL=
MEDIUM_GAIANET_MODEL=
MEDIUM_GAIANET_SERVER_URL=
LARGE_GAIANET_MODEL=
LARGE_GAIANET_SERVER_URL=
GAIANET_EMBEDDING_MODEL=
USE_GAIANET_EMBEDDING=

VOLENGINE_API_URL=
VOLENGINE_MODEL=
SMALL_VOLENGINE_MODEL=
MEDIUM_VOLENGINE_MODEL=
LARGE_VOLENGINE_MODEL=
VOLENGINE_EMBEDDING_MODEL=

DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=
SMALL_DEEPSEEK_MODEL=
MEDIUM_DEEPSEEK_MODEL=
LARGE_DEEPSEEK_MODEL=

FAL_API_KEY=
FAL_AI_LORA_PATH=

LETZAI_API_KEY=
LETZAI_MODELS=

GALADRIEL_API_KEY=
SMALL_GALADRIEL_MODEL=
MEDIUM_GALADRIEL_MODEL=
LARGE_GALADRIEL_MODEL=
GALADRIEL_FINE_TUNE_API_KEY=

LMSTUDIO_SERVER_URL=
LMSTUDIO_MODEL=
SMALL_LMSTUDIO_MODEL=
MEDIUM_LMSTUDIO_MODEL=
LARGE_LMSTUDIO_MODEL=

GOOGLE_GENERATIVE_AI_API_KEY=
ALI_BAILIAN_API_KEY=
NANOGPT_API_KEY=
TOGETHER_API_KEY=

COINMARKETCAP_API_KEY=

ZERION_API_KEY=

COINGECKO_API_KEY=
COINGECKO_PRO_API_KEY=

MORALIS_API_KEY=

EVM_PRIVATE_KEY=
EVM_PROVIDER_URL=

ZILLIQA_PRIVATE_KEY=
ZILLIQA_PROVIDER_URL=

AVALANCHE_PRIVATE_KEY=
AVALANCHE_PUBLIC_KEY=

ARTHERA_PRIVATE_KEY=

SOLANA_PRIVATE_KEY=
SOLANA_PUBLIC_KEY=
SOLANA_CLUSTER=
SOLANA_ADMIN_PRIVATE_KEY=
SOLANA_ADMIN_PUBLIC_KEY=
SOLANA_VERIFY_TOKEN=

INJECTIVE_PRIVATE_KEY=
INJECTIVE_PUBLIC_KEY=
INJECTIVE_NETWORK=

WALLET_PRIVATE_KEY=
WALLET_PUBLIC_KEY=

BIRDEYE_API_KEY=

SOL_ADDRESS=So11111111111111111111111111111111111111112
SLIPPAGE=1
BASE_MINT=So11111111111111111111111111111111111111112
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
HELIUS_API_KEY=

ABSTRACT_ADDRESS=
ABSTRACT_PRIVATE_KEY=
ABSTRACT_RPC_URL=https://api.testnet.abs.xyz

STARKNET_ADDRESS=
STARKNET_PRIVATE_KEY=
STARKNET_RPC_URL=

LENS_ADDRESS=
LENS_PRIVATE_KEY=

FORM_PRIVATE_KEY=
FORM_TESTNET=true

COINBASE_COMMERCE_KEY=
COINBASE_API_KEY=
COINBASE_PRIVATE_KEY=
COINBASE_GENERATED_WALLET_ID=
COINBASE_GENERATED_WALLET_HEX_SEED=
COINBASE_NOTIFICATION_URI=

CDP_API_KEY_NAME=
CDP_API_KEY_PRIVATE_KEY=
CDP_AGENT_KIT_NETWORK=base-sepolia

IS_CHARITABLE=false
CHARITY_ADDRESS_BASE=0x1234567890123456789012345678901234567890
CHARITY_ADDRESS_SOL=pWvDXKu6CpbKKvKQkZvDA66hgsTB6X2AgFxksYogHLV
CHARITY_ADDRESS_ETH=0x750EF1D7a0b4Ab1c97B7A623D7917CcEb5ea779C
CHARITY_ADDRESS_ARB=0x1234567890123456789012345678901234567890
CHARITY_ADDRESS_POL=0x1234567890123456789012345678901234567890

THIRDWEB_SECRET_KEY=

CONFLUX_CORE_PRIVATE_KEY=
CONFLUX_CORE_SPACE_RPC_URL=
CONFLUX_ESPACE_PRIVATE_KEY=
CONFLUX_ESPACE_RPC_URL=
CONFLUX_MEME_CONTRACT_ADDRESS=

MIND_HOT_WALLET_PRIVATE_KEY=
MIND_COLD_WALLET_ADDRESS=

ZEROG_INDEXER_RPC=
ZEROG_EVM_RPC=
ZEROG_PRIVATE_KEY=
ZEROG_FLOW_ADDRESS=

IQ_WALLET_ADDRESS=
IQSOlRPC=

SQUID_SDK_URL=https://apiplus.squidrouter.com
SQUID_INTEGRATOR_ID=
SQUID_EVM_ADDRESS=
SQUID_EVM_PRIVATE_KEY=
SQUID_API_THROTTLE_INTERVAL=1000

TEE_MODE=OFF
WALLET_SECRET_SALT=
TEE_LOG_DB_PATH=

VLOG=

GALADRIEL_API_KEY=gal-*

AKASH_CHAT_API_KEY=
SMALL_AKASH_CHAT_API_MODEL=
MEDIUM_AKASH_CHAT_API_MODEL=
LARGE_AKASH_CHAT_API_MODEL=

FAL_API_KEY=
FAL_AI_LORA_PATH=

TAVILY_API_KEY=

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
WHATSAPP_API_VERSION=v17.0
ENABLE_TEE_LOG=false

FLOW_ADDRESS=
FLOW_PRIVATE_KEY=
FLOW_NETWORK=
FLOW_ENDPOINT_URL=

INTERNET_COMPUTER_PRIVATE_KEY=
INTERNET_COMPUTER_ADDRESS=

CLOUDFLARE_GW_ENABLED=
CLOUDFLARE_AI_ACCOUNT_ID=
CLOUDFLARE_AI_GATEWAY_ID=

APTOS_PRIVATE_KEY=
APTOS_NETWORK=

MVX_PRIVATE_KEY=
MVX_NETWORK=
ACCESS_TOKEN_MANAGEMENT_TO=everyone

NEAR_WALLET_SECRET_KEY=
NEAR_WALLET_PUBLIC_KEY=
NEAR_ADDRESS=
NEAR_SLIPPAGE=1
NEAR_RPC_URL=https://rpc.testnet.near.org
NEAR_NETWORK=testnet

ZKSYNC_ADDRESS=
ZKSYNC_PRIVATE_KEY=

HOLDSTATION_PRIVATE_KEY=

AVAIL_ADDRESS=
AVAIL_SEED=
AVAIL_APP_ID=0
AVAIL_RPC_URL=wss://avail-turing.public.blastapi.io/

TEE_MARLIN=
TEE_MARLIN_ATTESTATION_ENDPOINT=

TON_PRIVATE_KEY=
TON_RPC_URL=
TON_RPC_API_KEY=

SUI_PRIVATE_KEY=
SUI_NETWORK=

MINA_PRIVATE_KEY=
MINA_NETWORK=devnet

STORY_PRIVATE_KEY=
STORY_API_BASE_URL=
STORY_API_KEY=
PINATA_JWT=

COSMOS_RECOVERY_PHRASE=
COSMOS_AVAILABLE_CHAINS=

CRONOSZKEVM_ADDRESS=
CRONOSZKEVM_PRIVATE_KEY=

FUEL_WALLET_PRIVATE_KEY=

TOKENIZER_MODEL=
TOKENIZER_TYPE=

SPHERON_PRIVATE_KEY=
SPHERON_PROVIDER_PROXY_URL=
SPHERON_WALLET_ADDRESS=

STARGAZE_ENDPOINT=

GENLAYER_PRIVATE_KEY=

BNB_PRIVATE_KEY=
BNB_PUBLIC_KEY=
BSC_PROVIDER_URL=
OPBNB_PROVIDER_URL=

INTIFACE_WEBSOCKET_URL=ws://localhost:12345

GIPHY_API_KEY=

OPEN_WEATHER_API_KEY=

PASSPORT_API_KEY=
PASSPORT_SCORER=

ECHOCHAMBERS_API_URL=http://127.0.0.1:3333
ECHOCHAMBERS_API_KEY=testingkey0011
ECHOCHAMBERS_USERNAME=eliza
ECHOCHAMBERS_ROOMS=general
ECHOCHAMBERS_POLL_INTERVAL=60
ECHOCHAMBERS_MAX_MESSAGES=10
ECHOCHAMBERS_CONVERSATION_STARTER_INTERVAL=300
ECHOCHAMBERS_QUIET_PERIOD=900

ALLORA_API_KEY=
ALLORA_CHAIN_SLUG=

B2_PRIVATE_KEY=

OPACITY_TEAM_ID=f309ac8ae8a9a14a7e62cd1a521b1c5f
OPACITY_CLOUDFLARE_NAME=eigen-test
OPACITY_PROVER_URL=https://opacity-ai-zktls-demo.vercel.app

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_UPLOAD_PATH=
AWS_S3_ENDPOINT=
AWS_S3_SSL_ENABLED=
AWS_S3_FORCE_PATH_STYLE=

DEVA_API_KEY=
DEVA_API_BASE_URL=https://api.deva.me

DEEPGRAM_API_KEY=

VERIFIABLE_INFERENCE_ENABLED=false
VERIFIABLE_INFERENCE_PROVIDER=opacity

QDRANT_URL=
QDRANT_KEY=
QDRANT_PORT=443
QDRANT_VECTOR_SIZE=1536

AUTONOME_JWT_TOKEN=
AUTONOME_RPC=https://wizard-bff-rpc.alt.technology/v1/bff/aaa/apps

AKASH_ENV=mainnet
AKASH_NET=https://raw.githubusercontent.com/ovrclk/net/master/mainnet
RPC_ENDPOINT=https://rpc.akashnet.net:443
AKASH_GAS_PRICES=0.025uakt
AKASH_GAS_ADJUSTMENT=1.5
AKASH_KEYRING_BACKEND=os
AKASH_FROM=default
AKASH_FEES=20000uakt
AKASH_DEPOSIT=500000uakt
AKASH_MNEMONIC=
AKASH_WALLET_ADDRESS=
AKASH_PRICING_API_URL=https://console-api.akash.network/v1/pricing
AKASH_DEFAULT_CPU=1000
AKASH_DEFAULT_MEMORY=1000000000
AKASH_DEFAULT_STORAGE=1000000000
AKASH_SDL=example.sdl.yml
AKASH_CLOSE_DEP=closeAll
AKASH_CLOSE_DSEQ=19729929
AKASH_PROVIDER_INFO=akash1ccktptfkvdc67msasmesuy5m7gpc76z75kukpz
AKASH_DEP_STATUS=dseq
AKASH_DEP_DSEQ=19729929
AKASH_GAS_OPERATION=close
AKASH_GAS_DSEQ=19729929
AKASH_MANIFEST_MODE=auto
AKASH_MANIFEST_PATH=
AKASH_MANIFEST_VALIDATION_LEVEL=strict

QUAI_PRIVATE_KEY=
QUAI_RPC_URL=https://rpc.quai.network

CHAINBASE_API_KEY=demo

ZERO_EX_API_KEY=
ALCHEMY_HTTP_TRANSPORT_URL=

INSTAGRAM_DRY_RUN=false
INSTAGRAM_USERNAME=
INSTAGRAM_PASSWORD=
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_BUSINESS_ACCOUNT_ID=
INSTAGRAM_POST_INTERVAL_MIN=60
INSTAGRAM_POST_INTERVAL_MAX=120
INSTAGRAM_ENABLE_ACTION_PROCESSING=false
INSTAGRAM_ACTION_INTERVAL=5
INSTAGRAM_MAX_ACTIONS=1

PYTH_NETWORK_ENV=mainnet
PYTH_MAINNET_HERMES_URL=https://hermes.pyth.network
PYTH_MAINNET_WSS_URL=wss://hermes.pyth.network/ws
PYTH_MAINNET_PYTHNET_URL=https://pythnet.rpcpool.com
PYTH_MAINNET_CONTRACT_REGISTRY=https://pyth.network/developers/price-feed-ids
PYTH_MAINNET_PROGRAM_KEY=
PYTH_TESTNET_HERMES_URL=https://hermes.pyth.network
PYTH_TESTNET_WSS_URL=wss://hermes.pyth.network/ws
PYTH_TESTNET_PYTHNET_URL=https://pythnet.rpcpool.com
PYTH_TESTNET_CONTRACT_REGISTRY=https://pyth.network/developers/price-feed-ids#testnet
PYTH_TESTNET_PROGRAM_KEY=
PYTH_MAX_RETRIES=3
PYTH_RETRY_DELAY=1000
PYTH_TIMEOUT=5000
PYTH_GRANULAR_LOG=true
PYTH_LOG_LEVEL=debug
PYTH_LOG_LEVEL=info
RUNTIME_CHECK_MODE=false
PYTH_ENABLE_PRICE_STREAMING=true
PYTH_MAX_PRICE_STREAMS=2
PYTH_TEST_ID01=0xe62df6c8b4a85fe1a67db44dc12de5db330f7ac66b72dc658afedf0f4a415b43
PYTH_TEST_ID02=0xff61491a931112ddf1bd8147cd1b641375f79f5825126d665480874634fd0ace

ROUTER_NITRO_EVM_ADDRESS=
ROUTER_NITRO_EVM_PRIVATE_KEY=

DKG_ENVIRONMENT=
DKG_HOSTNAME=
DKG_PORT=8900
DKG_PUBLIC_KEY=
DKG_PRIVATE_KEY=
DKG_BLOCKCHAIN_NAME=

INITIA_PRIVATE_KEY=
INITIA_NODE_URL=
INITIA_CHAIN_ID=initia-test

NVIDIA_NIM_ENV=production
NVIDIA_NIM_SPASH=false
NVIDIA_NIM_API_KEY=
NVIDIA_NGC_API_KEY=
NVIDIA_NIM_MAX_RETRIES=3
NVIDIA_NIM_RETRY_DELAY=1000
NVIDIA_NIM_TIMEOUT=5000
NVIDIA_GRANULAR_LOG=true
NVIDIA_LOG_LEVEL=debug
NVIDIA_OFFTOPIC_SYSTEM=
NVIDIA_OFFTOPIC_USER=
NVIDIA_NIM_BASE_VISION_URL=https://ai.api.nvidia.com/v1/vlm
NVIDIA_COSMOS_MODEL=nvidia/cosmos-nemotron-34b
NVIDIA_COSMOS_INVOKE_URL=https://ai.api.nvidia.com/v1/vlm/nvidia/cosmos-nemotron-34b
NVIDIA_COSMOS_ASSET_URL=https://api.nvcf.nvidia.com/v2/nvcf/assets
NVIDIA_COSMOS_MAX_TOKENS=1000

EMAIL_OUTGOING_SERVICE=smtp
EMAIL_OUTGOING_HOST=smtp.example.com
EMAIL_OUTGOING_PORT=465
EMAIL_OUTGOING_USER=
EMAIL_OUTGOING_PASS=
EMAIL_INCOMING_SERVICE=imap
EMAIL_INCOMING_HOST=imap.example.com
EMAIL_INCOMING_PORT=993
EMAIL_INCOMING_USER=
EMAIL_INCOMING_PASS=

SEI_PRIVATE_KEY=
SEI_NETWORK=
SEI_RPC_URL=

OMNIFLIX_API_URL=
OMNIFLIX_MNEMONIC=
OMNIFLIX_RPC_ENDPOINT=
OMNIFLIX_PRIVATE_KEY=

SUNO_API_KEY=

UDIO_AUTH_TOKEN=

FOOTBALL_API_KEY=

IMGFLIP_USERNAME=
IMGFLIP_PASSWORD=

HYPERLIQUID_PRIVATE_KEY=
HYPERLIQUID_TESTNET=

FUNDING_PRIVATE_KEY=
EVM_RPC_URL=

ETHSTORAGE_PRIVATE_KEY=
ETHSTORAGE_ADDRESS=0x64003adbdf3014f7E38FC6BE752EB047b95da89A
ETHSTORAGE_RPC_URL=https://rpc.beta.testnet.l2.quarkchain.io:8545

RESEND_API_KEY=
DEFAULT_TO_EMAIL=
DEFAULT_FROM_EMAIL=
EMAIL_AUTOMATION_ENABLED=false
EMAIL_EVALUATION_PROMPT=

ANKR_ENV=production
ANKR_WALLET=
ANKR_MAX_RETRIES=3
ANKR_RETRY_DELAY=1000
ANKR_TIMEOUT=5000
ANKR_GRANULAR_LOG=true
ANKR_LOG_LEVEL=debug
ANKR_RUNTIME_CHECK_MODE=false
ANKR_SPASH=true

DCAP_EVM_PRIVATE_KEY=
DCAP_MODE=

QUICKINTEL_API_KEY=

NEWS_API_KEY=

BTCFUN_API_URL=
BTC_PRIVATE_KEY_WIF=
BTC_ADDRESS=
BTC_MINT_CAP=10000
BTC_MINT_DEADLINE=864000
BTC_FUNDRAISING_CAP=100

TRIKON_WALLET_ADDRESS=
TRIKON_INITIAL_BALANCE=

ARBITRAGE_ETHEREUM_WS_URL=
ARBITRAGE_EVM_PROVIDER_URL=
ARBITRAGE_EVM_PRIVATE_KEY=
FLASHBOTS_RELAY_SIGNING_KEY=
BUNDLE_EXECUTOR_ADDRESS= 